!URxvt.font: 9x15
URxvt.font: xft:Misc Tamsyn:pixelsize=15
Xft.antialias: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0
URxvt.scrollBar:                      false
URxvt.mouseWheelScrollPage:           false
URxvt.cursorBlink:                    true
URxvt.saveLines:                      5000
URxvt.depth:    32
URxvt.boldFont: xft:Misc Tamsyn:pixelsize=14:bold

! ROFI config
rofi.hide-scrollbar: true
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #1B2B34
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
rofi.color-window:                   argb:ee222222,  #FAC863 ,  #FAC863
! Separator style (none, dash, solid)
rofi.separator-style:                solid

URxvt.geometry: 90x30
URxvt.foreground: #D7D0C7
URxvt.background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
URxvt.color0:     #101010
URxvt.color8:     #404040
!red
URxvt.color1:     #E84F4F
URxvt.color9:     #D23D3D
!green
URxvt.color2:     #B8D68C
URxvt.color10:    #A0CF5D
!yellow
URxvt.color3:     #E1AA5D
URxvt.color11:    #F39D21
!blue
URxvt.color4:     #7DC1CF
URxvt.color12:    #4E9FB1
!magenta
URxvt.color5:     #9B64FB
URxvt.color13:    #8542FF
!cyan
URxvt.color6:     #6D878D
URxvt.color14:    #42717B
!white
URxvt.color7:     #dddddd
URxvt.color15:    #dddddd

